<ng-template #confirmTemplate>
    <mat-dialog-content>
      <p>{{confirmMessage}}</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary"(click)="confirm()">确认</button>
      <button mat-raised-button (click)="close()">取消</button>
    </mat-dialog-actions>
  </ng-template>
  
<ng-template #ServiceTemplate>
    <mat-dialog-content [formGroup]="form">
      <p>
        <mat-form-field>
          <mat-label>项目名称</mat-label>
          <input matInput placeholder="项目名称" name="name" formControlName="name">
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field>
          <mat-label>项目时长</mat-label>
          <input matInput placeholder="项目时长" name="duration" formControlName="duration">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>项目价格</mat-label>
          <input matInput placeholder="项目价格" name="price" formControlName="price">
        </mat-form-field>
      </p>
      
    </mat-dialog-content>
  
    <mat-dialog-actions>
        <button mat-raised-button color="primary"(click)="save()">保存</button>
        <button mat-raised-button (click)="close()">关闭</button>
    </mat-dialog-actions>
    
  </ng-template>
  
  <div class="main container table-responsive">
      <br>
  
      <mat-toolbar>
        <span class="count">当前共有{{serviceCount}}项服务</span>
        <span class="spacer"></span>
        <button mat-stroked-button color="primary" type="button" (click)="insertService()">新增服务</button>
      </mat-toolbar >
      <mat-table #table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>项目名称</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef mat-sort-header>项目时常</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.duration}} 分钟</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>项目价格</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.price}} 元</mat-cell>
        </ng-container>

        <ng-container matColumnDef="operation">
          <mat-header-cell *matHeaderCellDef mat-sort-header> 操作 </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item type="button" (click)="updateExistedService(element)">更新信息</button>
                  <button mat-menu-item type="button" (click)="deleteService(element)">删除项目</button>
                </ng-template>
              </mat-menu>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                matRipple 
                class="element-row">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
  </div>
  