<ng-template #confirmTemplate>
  <mat-dialog-content>
    <p>{{confirmMessage}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"(click)="close()">确认</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #addNewSpendingRecordTemplate>
    <mat-dialog-content [formGroup]="form">
      <p>
        <mat-form-field appearance="fill">
            <mat-label>支出类型</mat-label>
            <mat-select formControlName="spending_type" required>
              <mat-option *ngFor="let type of spendingTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>支出金额</mat-label>
          <input matInput placeholder="支出金额" name="amount" formControlName="amount" >
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>支出明细</mat-label>
          <input type="text" matInput placeholder="支出明细" name="detail" formControlName="detail">
        </mat-form-field>
      </p>
     
      
    </mat-dialog-content>
  
    <mat-dialog-actions>
        <button mat-raised-button color="primary"(click)="save()">保存</button>
        <button mat-raised-button (click)="close()">关闭</button>
    </mat-dialog-actions>
    
  </ng-template>

<mat-toolbar>
    <span class="count">当前共有{{spendsCount}}条开支记录</span>
    <span class="spacer"></span>
    <button mat-stroked-button color="primary" type="button" (click)="newSpending()">记录开支</button>
    
</mat-toolbar >
<hr>
<mat-table #table matSort [dataSource]="spends">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 支出编号 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="spending_type">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 支出类型 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.spending_type}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="spend_date">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 支出日期 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.spend_date}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 支出金额 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.amount}} 元</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="detail">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 支出明细 </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.detail}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
          matRipple 
          class="element-row">
  </mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
