<ng-template #topUpTemplate>
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>充值金额</mat-label>
        <input matInput placeholder="充值金额" name="topUpAmount" [(ngModel)]="topUpAmount">
      </mat-form-field>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"(click)="topUp()">充值</button>
    <button mat-raised-button (click)="close()">取消</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #confirmTemplate>
  <mat-dialog-content>
    <p>{{confirmMessage}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary"(click)="confirm()">确认</button>
    <button mat-raised-button (click)="close()">取消</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #addNewMemberTemplate>
  <mat-dialog-content [formGroup]="form">
    <p>
      <mat-form-field>
        <mat-label>姓名</mat-label>
        <input matInput placeholder="姓名" name="name" formControlName="name">
      </mat-form-field>
    </p>
    <!-- <p> -->
      <mat-radio-group formControlName="gender" [readonly]="!mode" [disabled]="!mode">
        <mat-radio-button 
          *ngFor="let gender of genders" 
          name="gender" 
          [value]="gender.value" >
          {{gender.label}}
        </mat-radio-button>
      </mat-radio-group>
    <!-- </p> -->
    <p>
      <mat-form-field>
        <mat-label>联系方式</mat-label>
        <input matInput placeholder="联系方式" name="phone" formControlName="phone">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>会员卡号</mat-label>
        <input matInput placeholder="会员卡号" name="card_number" formControlName="card_number" [readonly]="!mode">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label *ngIf="mode">充值金额</mat-label>
        <mat-label *ngIf="!mode">当前余额</mat-label>
        <input matInput placeholder="充值金额" name="balance" formControlName="balance" [readonly]="!mode">
      </mat-form-field>
    </p>
    
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-raised-button color="primary"(click)="save()">保存</button>
      <button mat-raised-button (click)="close()">关闭</button>
  </mat-dialog-actions>
  
</ng-template>

<div class="main container table-responsive">
    <br>  
    <mat-toolbar>
        <span class="count">当前共有{{members.length}}位会员</span>
        <span class="spacer"></span>
        <button mat-stroked-button color="primary" type="button" (click)="insertMember()">新增会员</button>
   
      </mat-toolbar >
    
    <hr>
    <mat-toolbar [hidden]="!hasMember">
        <input type="text" class="form-control form-control-dark" placeholder="使用姓名 / 卡号搜索会员" [(ngModel)]="query" aria-label="搜索"> &nbsp; &nbsp;
        <button mat-raised-button color="primary" (click)="search()" >搜索</button>
        <button mat-raised-button (click)="reset()">重置</button>
    </mat-toolbar>
    
    <table class="table table-striped "[hidden]="!members.length">
        <thead>
          <tr>
            <th *ngFor="let item of tHead" scope="col">{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td>{{member.card_number}}</td>
            <td>{{member.name}}</td>
            <td *ngIf="member.gender">男宾</td>
            <td *ngIf="!member.gender">女宾</td>
            <td>{{member.phone}}</td>
            <td>{{member.open_date}}</td>
            <td>{{member.balance}}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item type="button" (click)="topUpForExistedMember(member)">充值金额</button>
                  <button mat-menu-item type="button" (click)="updateExistedMember(member)">更新信息</button>
                  <button mat-menu-item type="button" (click)="deleteMember(member)">删除会员</button>
                </ng-template>
              </mat-menu>
              </td>
          </tr>
        </tbody>
      </table>

</div>
